[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
openc-python = {index = "http://pypi.douban.com/simple/",version = "*"}
pyqt5 = {index = "http://pypi.douban.com/simple/",version = "*"}
lxml = {index = "http://pypi.douban.com/simple/",version = "*"}
pyinstaller = {index = "http://pypi.douban.com/simple/",version = "*"}

[requires]
python_version = "3.7"
