[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
opencv-python = {index = "http://mirrors.aliyun.com/pypi/simple/",version = "*"}
pyqt5 = {index = "http://mirrors.aliyun.com/pypi/simple/",version = "*"}
lxml = {index = "http://mirrors.aliyun.com/pypi/simple/",version = "*"}
pyinstaller = {index = "http://mirrors.aliyun.com/pypi/simple/",version = "*"}

[requires]
python_version = "3.7"
